* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #ff6ec7, #8f86ff, #5ad1ff);
    background-size: 200% 200%;
    animation: bgFlow 12s ease-in-out infinite;
    color: white;
}

@keyframes bgFlow {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 50%; }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffe8ff;
}


.hero {
    height: 100vh;
    background-image: url("https://cdn.motor1.com/images/mgl/lE2M3J/s1/2025-bmw-m4-cs.jpg");
    background-size: cover;
    background-position: top;
    animation: moveBg 12s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

@keyframes moveBg {
    0% { background-position: top; }
    50% { background-position: bottom; }
    100% { background-position: top; }
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
}

.hero p {
    margin-top: 15px;
    font-size: 20px;
}

.btn {
    margin-top: 30px;
    padding: 14px 35px;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff70d7, #4aa8ff);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
}


.cars {
    padding: 120px 50px;
    text-align: center;
}



.cars h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.car-card {
    background: rgba(255, 255, 255, 0.12);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
    cursor: pointer;
    
}

.car-card:hover {
    transform: translateY(-10px) scale(1.03);
}

.car-card img {
    width: 100%;
    height: 250px;       
    object-fit: contain; 
    background: white;   
    border-radius: 15px;
    padding: 15px;
}

.price {
    font-size: 22px;
    font-weight: 600;
    color: #ffe8ff;
}

.car-card ul {
    list-style: none;
    margin-top: 10px;
}

.car-card ul li {
    margin: 6px 0;
}


.about, .contact {
    padding: 100px 50px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 30px;
}

.contact-box {
text-align: center;

  margin: 15px 0;
}

.contact-box p {
 margin: 15px 0;
}

.contact-box a {
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-weight: 500;
}

.about {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.about:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.about h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #111;
}

.about p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #333;
}


.about h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: linear-gradient(90deg, #ff6ec7, #8f86ff, #1b82ab);
    border-radius: 4px;
    margin-top: 6px;
}




.branches {
    padding: 120px 40px;
    
    color: white;
    text-align: center;
}

.branches h2 {
    font-size: 45px;
    margin-bottom: 70px;
    color: rgb(6, 6, 5);
    letter-spacing: 2px;
}

.branch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
}

.branch-card {
    background: #111;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transition: 0.4s ease;
}

.branch-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 30px rgb(148, 147, 145);
}

.branch-image {
    height: 220px;
    background-size: cover;
    background-position: center;
}

.branch-content {
    padding: 30px;
}

.flag {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 4px;
}

.branch-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: gold;
}

.branch-card p {
    margin: 8px 0;
    opacity: 0.8;
}

.branch-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.branch-btn {
    padding: 10px 22px;
    border-radius: 30px;
    background: #25D366;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.branch-btn:hover {
    box-shadow: 0 0 15px #25D366;
}

.map-btn {
    padding: 10px 22px;
    border-radius: 30px;
    border: 1px solid gold;
    background: transparent;
    color: gold;
    cursor: pointer;
    transition: 0.3s;
}

.map-btn:hover {
    background: gold;
    color: black;
}
.map-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.map-content {
    width: 80%;
    height: 70%;
    background: #000;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.map-content iframe {
    width: 100%;
    height: 100%;
}

.close-map {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
.add-cart-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #ff70d7, #4aa8ff);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.add-cart-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,255,255,0.4);
}


.cart-icon {
    position: relative;
    margin-left: 25px;
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

.cart-icon:hover {
    color: #ffe8ff;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff70d7;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    font-weight: 700;
}



#contact {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: rgba(255,255,255,0.9);
    color: #111;
    transition: 0.3s ease;
}


.contact-form textarea {
    resize: none;
    min-height: 140px;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff70d7, #4aa8ff);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,255,255,0.4);
}

.contact-form button:active {
    transform: scale(0.95);
}

